body{
    background: url(../Img/Fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
header{
    background: url(../Img/logo.jpg);
    background-size: 8%; 
    width: 100%;
}
h1,h2{
    font-family: cursive;
}
h3{
    text-align: right;
    background-color: #e45412;
}
nav{
    font-family: cursive;
    font-size: 20px;
    
    text-align: center;
}
section{
    background: #5DEAA8;
    height: 250px;
    width: 250px;
    padding: 20px;
    border: 10px solid #43B17D;
    border-radius: 25px;
    margin: 0px;
    box-sizing: border-box;
}
p{
    background-image: url(../Img/Textura.png);
    height: 250px;
    width: 250px;
    padding: 20px;
    border: 10px solid rgb(19, 92, 187);
    border-radius: 25px;
    margin: 40px;
    box-sizing: border-box;
}
.datos {        /*llamamos a nuestra clase datos*/
    position: fixed;
    
    left: 25%;
    bottom: 0;
    width: 50%;
    background-color: red;
    color: white;
    text-align: center;
    font-family: cursive;
 }